<div class="container">
	<div class="input-group">
      	<input type="text" class="form-control" placeholder="Name or ID">
      	<span class="input-group-btn">
        	<button class="btn btn-info btn-md" type="button">Search</button>
      	</span>
    </div>
	<table class="table table-hover table-courses">
    	<thead>
      		<tr>
	        	<th class="col-md-3 col-xs-3 col-sm-3 col-lg-3">ID</th>
	        	<th class="col-md-7 col-xs-7 col-sm-7 col-lg-7">Name</th>
	        	<th class="col-md-2 col-xs-2 col-sm-2 col-lg-2"></th>
      		</tr>
    	</thead>
    	<tbody>
      		<tr>
		        <td>0406111</td>
		        <td>Udomsub Naikorn</td>
		        <td><button type="button" class="btn btn-success">Add</button></td>
      		</tr>
    	</tbody>
  	</table>
  	<table class="table table-shedule">
  		
  	</table>
</div>