<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/mycss.css">
  </head>
  <body>
    <div class="container top">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h1 class="text-centertop">Pre-Courses</h1>
          <h4 class="kmutnb-text">KMUTNB</h4>
        </div>
      </div>
    </div>
    {{{body}}}
  </body>
</html>
