<div class="container">
	<div class="input-group">
      	<input type="text" class="form-control" placeholder="Name or ID">
      	<br><span class="input-group-btn">
        	<button class="btn btn-info btn-md" type="button">Search</button>
      	</span>
    </div>
	<table class="table table-hover table-courses table-responsive">
    	<thead>
      		<tr>
	        	<th class="col-md-3 col-xs-3 col-sm-3 col-lg-3">ID</th>
	        	<th class="col-md-7 col-xs-7 col-sm-7 col-lg-7">Name</th>
	        	<th class="col-md-2 col-xs-2 col-sm-2 col-lg-2"></th>
      		</tr>
    	</thead>
    	<tbody>
      		<tr>
		        <td>0406111</td>
		        <td>Programming II</td>
		        <td><button type="button" class="btn btn-success">Add</button></td>
      		</tr>
    	</tbody>
  	</table>
  	<center><h3>Credits : 0</h3></center>
  	<center><h4 class="mgt20">Study Schudule</h4></center>
  	<table class="table table-schedule table-responsive">
  		<thead>
  			<tr>
  				<th></th>
  				<th>8:00</th>
  				<th>9:00</th>
  				<th>10:00</th>
  				<th>11:00</th>
  				<th>12:00</th>
  				<th>13:00</th>
  				<th>14:00</th>
  				<th>15:00</th>
  				<th>16:00</th>
  				<th>17:00</th>
  				<th>18:00</th>
  				<th>19:00</th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr>
  				<td style="color: #F3DF12;">Mon</td>
  				<td id="item1"></td>
  				<td id="item2"></td>
  				<td id="item3"></td>
  				<td id="item4"></td>
  				<td id="item5"></td>
  				<td id="item6"></td>
  				<td id="item7"></td>
  				<td id="item8"></td>
  				<td id="item9"></td>
  				<td id="item10"></td>
  				<td id="item11"></td>
  				<td id="item12"></td>
  			</tr>
  			<tr>
  				<td style="color:#E447B1;">Tue</td>
  				<td id="item13"></td>
  				<td id="item14"></td>
  				<td id="item15"></td>
  				<td id="item16"></td>
  				<td id="item17"></td>
  				<td id="item18"></td>
  				<td id="item19"></td>
  				<td id="item20"></td>
  				<td id="item21"></td>
  				<td id="item22"></td>
  				<td id="item23"></td>
  				<td id="item24"></td>
  			</tr>
  			<tr>
  				<td style="color:#11E454;">Wed</td>
  				<td id="item25"></td>
  				<td id="item26"></td>
  				<td id="item27"></td>
  				<td id="item28"></td>
  				<td id="item29"></td>
  				<td id="item30"></td>
  				<td id="item31"></td>
  				<td id="item32"></td>
  				<td id="item33"></td>
  				<td id="item34"></td>
  				<td id="item35"></td>
  				<td id="item36"></td>
  			</tr>
  			<tr>
  				<td style="color:#E4830E;">Thu</td>
  				<td id="item37"></td>
  				<td id="item38"></td>
  				<td id="item39"></td>
  				<td id="item40"></td>
  				<td id="item41"></td>
  				<td id="item42"></td>
  				<td id="item43"></td>
  				<td id="item44"></td>
  				<td id="item45"></td>
  				<td id="item46"></td>
  				<td id="item47"></td>
  				<td id="item48"></td>
  			</tr>
  			<tr>
  				<td style="color:#3083E4;">Fri</td>
  				<td id="item49"></td>
  				<td id="item50"></td>
  				<td id="item51"></td>
  				<td id="item52"></td>
  				<td id="item53"></td>
  				<td id="item54"></td>
  				<td id="item55"></td>
  				<td id="item56"></td>
  				<td id="item57"></td>
  				<td id="item58"></td>
  				<td id="item59"></td>
  				<td id="item60"></td>
  			</tr>
  			<tr>
  				<td style="color:#7F14C2;">Sat</td>
  				<td id="item61"></td>
  				<td id="item62"></td>
  				<td id="item63"></td>
  				<td id="item64"></td>
  				<td id="item65"></td>
  				<td id="item66"></td>
  				<td id="item67"></td>
  				<td id="item68"></td>
  				<td id="item69"></td>
  				<td id="item70"></td>
  				<td id="item71"></td>
  				<td id="item72"></td>
  			</tr>
  		</tbody>
  	</table>
  	<center><h4 class="mgt40">Exams Schedule</h4></center>
  	<table class="table table-exams table-responsive">
  		<thead>
  			<tr>
  				<th></th>
  				<th>8:00</th>
  				<th>9:00</th>
  				<th>10:00</th>
  				<th>11:00</th>
  				<th>12:00</th>
  				<th>13:00</th>
  				<th>14:00</th>
  				<th>15:00</th>
  				<th>16:00</th>
  				<th>17:00</th>
  				<th>18:00</th>
  				<th>19:00</th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr>
  				<td style="color: #F3DF12;">Mon<br><span class="date">13/9/60</span></td>
  				<td id="item1"></td>
  				<td id="item2"></td>
  				<td id="item3"></td>
  				<td id="item4"></td>
  				<td id="item5"></td>
  				<td id="item6"></td>
  				<td id="item7"></td>
  				<td id="item8"></td>
  				<td id="item9"></td>
  				<td id="item10"></td>
  				<td id="item11"></td>
  				<td id="item12"></td>
  			</tr>
  			<tr>
  				<td style="color:#E447B1;">Tue<br><span class="date">13/9/60</span></td>
  				<td id="item13"></td>
  				<td id="item14"></td>
  				<td id="item15"></td>
  				<td id="item16"></td>
  				<td id="item17"></td>
  				<td id="item18"></td>
  				<td id="item19"></td>
  				<td id="item20"></td>
  				<td id="item21"></td>
  				<td id="item22"></td>
  				<td id="item23"></td>
  				<td id="item24"></td>
  			</tr>
  			<tr>
  				<td style="color:#11E454;">Wed<br><span class="date">13/9/60</span></td>
  				<td id="item25"></td>
  				<td id="item26"></td>
  				<td id="item27"></td>
  				<td id="item28"></td>
  				<td id="item29"></td>
  				<td id="item30"></td>
  				<td id="item31"></td>
  				<td id="item32"></td>
  				<td id="item33"></td>
  				<td id="item34"></td>
  				<td id="item35"></td>
  				<td id="item36"></td>
  			</tr>
  			<tr>
  				<td style="color:#E4830E;">Thu<br><span class="date">13/9/60</span></td>
  				<td id="item37"></td>
  				<td id="item38"></td>
  				<td id="item39"></td>
  				<td id="item40"></td>
  				<td id="item41"></td>
  				<td id="item42"></td>
  				<td id="item43"></td>
  				<td id="item44"></td>
  				<td id="item45"></td>
  				<td id="item46"></td>
  				<td id="item47"></td>
  				<td id="item48"></td>
  			</tr>
  			<tr>
  				<td style="color:#3083E4;">Fri<br><span class="date">13/9/60</span></td>
  				<td id="item49"></td>
  				<td id="item50"></td>
  				<td id="item51"></td>
  				<td id="item52"></td>
  				<td id="item53"></td>
  				<td id="item54"></td>
  				<td id="item55"></td>
  				<td id="item56"></td>
  				<td id="item57"></td>
  				<td id="item58"></td>
  				<td id="item59"></td>
  				<td id="item60"></td>
  			</tr>
  			<tr>
  				<td style="color:#7F14C2;">Sat<br><span class="date">13/9/60</span></td>
  				<td id="item61"></td>
  				<td id="item62"></td>
  				<td id="item63"></td>
  				<td id="item64"></td>
  				<td id="item65"></td>
  				<td id="item66"></td>
  				<td id="item67"></td>
  				<td id="item68"></td>
  				<td id="item69"></td>
  				<td id="item70"></td>
  				<td id="item71"></td>
  				<td id="item72"></td>
  			</tr>
  		</tbody>
  	</table>
  	<a href="/third">
	  	<button type="button" class="btn btn-primary btn-lg export">Export</button>
  	</a>
</div>