.processbar-process-bar{width:450px;height:80px}.processbar-process{width:150px;height:80px;padding:0;margin:0 -5px 0 0;display:inline-block;font-family:"Helvetica Neue",Helvetica,sans-serif}.processbar-img,.processbar-text{width:100%;height:40px}.processbar-text{text-align:center;line-height:40px;color:#979797}.processbar-circle{width:40px;height:40px;border-radius:50%;background-color:#ccc;margin-left:55px;position:absolute;text-align:center;color:#fff}.processbar-number{margin-top:25px;line-height:40px;font-size:20px}.processbar-line-l,.processbar-line-r{width:55px;height:2px;background-color:#ccc;margin-top:20px;position:absolute}.processbar-line-r{margin-left:95px}.processbar-circle.processbar-active{background-color:#0072FE}.processbar-text.processbar-active{color:#0072FE}.processbar-circle.processbar-unfocus{background-color:#7FC8FF}.processbar-text.processbar-unfocus{color:#7FC8FF}
.processbar-process{
    cursor: pointer;
}
.process-bar{
    margin-top: 20px;
    margin-bottom: 40px;
}
body{
    margin-bottom: 50px;;
}
.xxx{
  color: blue;
}
.pdt20{
    padding-top: 50px;
}
.w{
  width:40%;
}
.drop-down {
    cursor:pointer;
}
.circle {
    margin-top:3%;
    width: 100px;
	height: 100px;
	background: green;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
    padding-left: 35px;
    padding-top: 20px;
    font-size: 50px;
    color: white;

}
.journey-list {
    position: relative;
    text-align: center;
}
.step-1{
    position: relative;
    display: inline-block;
    z-index: 2;
}
.step-2{
    margin-top: 0px;
    margin-right: 80px;
    margin-bottom: 0px;
    margin-left: 80px;
    position: relative;
    display: inline-block;
    z-index: 2;
}
.step-3{
    position: relative;
    display: inline-block;
    z-index: 2;
}
.journey-arm {
    position: absolute;
    top: 37px;
    width: 100%;
    z-index: 1;
    content: '';
    display: inline-block;
    background: #CCCCCC;
    width: 400px;
    height: 5px;
    left: 750px;
}
.iconClose {
    color: #FFF;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin: 0 auto 10px;
    font-size: 24px;
    background: #C0C0C0;
    border-radius: 100%;
    color: #A59C9C;
    font-weight: bold;
}
.iconOpen {
    color: #FFF;
    background: #d13238;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin: 0 auto 10px;
    font-size: 24px;
    border-radius: 100%;
    color: black;
    font-weight: bold;
}
.name{
    opacity: 1;
    font-weight: bold;
}
.index_container {
    margin-top: 10px;
    overflow: auto;
}
.table-schdule {
    overflow: scroll;
    text-align: center;
}
.index_header{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.header_inner {
    line-height: 44px;
}
.index_firstHeader {
    background: #c3c2c2;
    height: 44px;
    width: 44px;
    min-width: 44px;
}
.index_firstHeaderExam {
    background: #c3c2c2;
    height: 44px;
    width: 64px;
    min-width: 44px;
}
.index_day {
    display: table-row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border: 1px solid #c3c2c2;
}
.list-exam{
    display: flex;    
    position: relative;
}
.day_headExam {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width:61px;
    background-color: #fff;
    border-bottom: 1px solid #c3c2c2;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.day_head {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width:44px;
    background-color: #fff;
    border-bottom: 1px solid #c3c2c2;
    min-width: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.header_header{
    display: inline-table;
    height: 44px;
    width: 44px;
    font-size: 12px;
    text-align: left;
    background-color: rgb(227, 227, 224);
}
.header_headerExam{
    display: inline-table;
    height: 44px;
    width: 48px;
    font-size: 12px;
    text-align: left;
    background-color: rgb(227, 227, 224);
}
.section-box {
    padding-top:5px;
    table-layout: fixed;
    margin-top: 4px;
    margin-left:3px;
    margin-right:3px;
    display: inline-table;
    position: relative;
    height: 40px;
    border-radius:10px 10px 10px 10px;
}
.section-box-detail{
    font-size: 0.5em;
    text-align:center;
}
.hiddenbox-box {
    display: inline-table;
    height: 44px;
    display: flex;
    width: 44px;
    background: #f0eeea;
}
.hiddenbox-boxExam {
    display: inline-table;
    height: 44px;
    display: flex;
    width: 48px;
    background: #f0eeea;
}
.gg{
    display:block;
}
.row_row {
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.index_day {
    display: table-row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    border: 1px solid #c3c2c2;
}
.index_day, .day_head{
    align-items: center;
}

.square {
    background: green;
    width: 100px;
    height: 50px;
    border-radius: 10%;
    margin-top:10px;
    margin-bottom:10px;
}
.searchDown{
	overflow-y: scroll;
	height: 125px;
}
.secCard{
	background-color: coral;
	border-radius:10px 10px 10px 10px;
	box-shadow: 0px 0px 1px 0px black;
    cursor: pointer;
}
.SectionListItem {
    margin-top:5px;
    box-shadow: 0 0.1vh 3vh rgba(0, 0, 0, 0.1);
    background:coral; 
    border: 5px solid rgba(255, 255, 255, 0);
    border-radius: 2vmin;
    color: black;
    padding: 1vmin 1vmin;
    cursor: pointer;
}
.SectionListItem-info-top {
    clear: both;
    display: block;
}
.SectionListItem-info-bottom {
    clear: both;
    display: block;
}
.SectionListItem-title {
    font-size: 1em;
    font-weight: bold;
    text-align:center;
}
.SectionListItem-detail {
    font-size: 1em;
   
    text-align:center;
}
.SectionListItem:hover{
    background:#e57248;
    color: black;
}
.mgt5{
    margin-top: 5px;
}
.mgt20{
    margin-top: 60px;
}
.list-selected{
    cursor: pointer;
}
/*.btn-Green{
    background: #00C853;
    color: #fff;
    font-family: BOLD;
    font-weight: bold;
    display: inline-block;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    transition: 0.3s;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    text-decoration: none;
}
.btn-Green:hover{
    background:#00E676;
    color: #fff;
    text-decoration: none;
}*/
.btn-Green1{
    background: #00C853;
    color: #fff;
    transition: 0.3s;  
}
.btn-Green1:hover{
    background:#00E676;
    color: #fff;
}
/*.btn-Red{
    background: #FF1744;
    color: #fff;
    font-family: BOLD;
    font-weight: bold;
    display: inline-block;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    transition: 0.3s;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    text-decoration: none;
}
.btn-Red:hover{
    background:#FF5252;
    color: #fff;
    text-decoration: none;
}*/
.btn-Red1{
    background: #FF1744;
    color: #fff;
    transition: 0.3s;  
}
.btn-Red1:hover{
    background:#FF5252;
    color: #fff;
}
.btn-Blue{
    transition: 0.3s;
    background: #2962FF;
    color: #ECEFF1;
}
.btn-Blue:active{
    color: #ECEFF1;
}
.btn-Red:active{
    color: #ECEFF1;
}
.btn-Green:active{
    color: #ECEFF1;
}
.btn-Blue:hover{
    background: #2979FF;
    color: #ECEFF1;
}
.z-depth-1{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.z-depth-2{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
.z-depth-3{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}
.z-depth-4{
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}
.z-depth-5 {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}
.word-1{
    font-family: BOLD;
    font-weight: bold;
}
.whi{
    color: #fff;
}
.moveIn{
	animation: moveIn 0.8s ease;
}
.moveAlert{
	animation: moveAlert 0.4s ease;
}
.MoveChangePage{
    animation:MoveChangePage 0.3s ease;
}
.MoveChangePage2{
    animation:MoveChangePage2 0.3s ease;
}
@keyframes moveAlert{
	0%{
		transform: translate(-360px,0px);
	}
}
@keyframes MoveChangePage{
	0%{
		transform: translate(500px,0px);
	}
}
@keyframes MoveChangePage2{
	0%{
		transform: translate(-600px,-500px);
	}
	100%{
		transform: translate(-500px,0px);
	}
}
@keyframes moveIn{
	0%{
		transform: translate(0px,-50px);
	}
}
